.header-container{
    color: var(--primary-font-color);
    justify-content: space-between;
    left: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}
.nav-container{
    display: flex;
    padding: 7px, 0px, 7px, 0px;
    gap: 12px;
    margin-right: 125px;
}

.nav-container button{
    Width:188px;
    Height: 52px;
    background-color: #fd6f00;
}

.awards1{
    text-align: center;
    margin-top: 90px;
}

.awards1 p{
    color: rgba(255, 255, 255, 0.5);

}
.awards2i{
    background-color: black;
    width: 928px;
    margin-left: 115px;
}
.awards2i-h1{
    display: flex;
    justify-content: space-around;
}

.awards2i-p{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 115px;
}

.footer{
    text-align: center;
    background-color: black;
}

.footer-container{
    display: flex;
    gap: 20px;
    margin-left: 365px;
}

.media1{
    text-align: center;
    color: var(--primary-font-color);
}

@media screen and (min-width: 200px)and (max-width: 576px){
    body {
        margin-right: 20px; 
        margin-left: 20px;
    }    
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-right: 0; 
    }
    
    .nav-container button {
        width: 100%;
        height: 52px;
    }
    .bio{
        display: flex;
        flex-direction: column;
    }
    .bio-img {
        width: 100%; 
        height: auto; 
    }
    
    .bio h1,
    .bio-dsc,
    .skill {
        font-size: 16px;
    }

    .rotate{
        display: none;
    }
    .about{
        display: flex;
        flex-direction: column;
    }

    .experience-items{
        display: flex;
        flex-direction: column;
    }
    .awards1 {
        margin-top: 60px;
    }
    
    .awards2i {
        width: 100%; 
        margin-left: 0; 
    }
    
    .awards2i-h1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .awards2i-p{
        text-align: center;
        margin-right: 200px;
    }
    .portfolio2i .image img{
        height: 200px;
        width: 200px;
    }
    .portfolio{
        text-align: center;
    }

    .contact{
        display: flex;
        flex-direction: column;
    }

    .contact-2ii-b{
        display: flex;
        flex-direction: column;
    }

    .contact-2ii-b hr{
        display: none;
    }

    .contact-2ii-c{
        border: none;
    }


    .footer-container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        margin-left: 0;
    }

    
}